-e git+https://github.com/Cinnamon/kotaemon.git@main#egg=kotaemon&subdirectory=libs/kotaemon
-e git+https://github.com/Cinnamon/kotaemon.git@main#egg=ktem&subdirectory=libs/ktem
graphrag
future
pdfservices-sdk@git+https://github.com/niallcm/pdfservices-python-sdk.git@bump-and-unfreeze-requirements